.profile
  %image{:src=>@user.profile_url}
  %p #{@user.screenname}
  %br
  = link_to 'ログアウト',destroy_user_session_path,method: :delete,:class=>"circle"

= form_for @tweet,url:tweet_post_path,remote:true do |f|
  =f.text_area :content,id:"tweet_area",:rows=>"5"
  -# =f.submit :id=>"tweet_submit",:class=>"circle"
  =f.submit :id=>"tweet_submit",:class=>"hidden"
#config_area
  = form_for @user,url:tweet_config_path,remote:true do |f|
    =f.check_box :tweet_confirm
    =f.label :tweet_confirm, "Tweetする前に音声で確認する"
    %br
    =f.check_box :tweet_signal
    =f.label :tweet_signal, "「ツイート」と言ってから認識させる"
    =f.submit :id=>"tweet_config",:class=>"hidden"
.has_button
  %a.circle Tweet
%button#rec.circle 録音開始

= render :partial => "tweet", :collection => @tweets
-# %a.twitter-timeline{:href => "https://twitter.com/"+@user.screenname+"?ref_src=twsrc%5Etfw"} Tweets by #{@user.screenname}




%script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
:javascript

  var tweet_config=document.getElementById("config_area");
  tweet_config.addEventListener('change',function(e){
    document.getElementById("tweet_config").click();
    console.log(e);
  })

  var signal=false;
  var confirm_now=false;

  var speech = new webkitSpeechRecognition();
  // speech.lang = "ja";
  // speech.start();
  speech.addEventListener( 'result' , function( e ) {
    console.log(e);
      result=e.results[0][0].transcript;

      if(document.getElementById("user_tweet_signal").checked && !signal){
        if(result=="ツイート"){
            signal=true;
        }else{
          return;
        }
      }else{
        signal=false;
      }

      document.getElementById("tweet_area").value=result;

      if(document.getElementById("user_tweet_confirm").checked){
        ss = new SpeechSynthesisUtterance(result+"で投稿しても良いですか？");
        speechSynthesis.speak(ss);
        confirm_now=true;
        ss.addEventListener('end',function(e){
          var speech_result = new webkitSpeechRecognition();
          speech_result.start();
          speech_result.addEventListener( 'result' , function( e ) {
            res=e.results[0][0].transcript;
            if(res=="はい"){
              postTweet(result)
            }else{
            }
          });
        });
      }else{
        postTweet(result);
      }
  });
  speech.addEventListener( 'end' , function( e ) {
   console.log(e);
    if(rec.textContent=="録音開始"){

    }else{
      if(speechSynthesis.speaking){
        ss.addEventListener('end',function(e){
          speech.start();
        });
      }else{
          speech.start();
      }
    }
  });

  var rec=document.getElementById("rec");
  rec.addEventListener( 'click' , function( e ) {
      if(rec.textContent=="録音開始"){
        rec.textContent="録音停止";
        speech.start();
      }else{
        rec.textContent="録音開始";
        speech.abort();
      }
  });

  function postTweet(result){
    document.getElementById("tweet_submit").click();
    document.getElementById("tweet_area").value="";
    ss = new SpeechSynthesisUtterance(result+"と投稿しました");
    speechSynthesis.speak(ss);
  }
