!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DeviseRails5
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .nav
      %p.title
        Twisp（仮）-喋ってツイート-        
    - if user_signed_in?
      = link_to 'sign out',destroy_user_session_path,method: :delete
    - else
      = link_to 'sign in',user_twitter_omniauth_authorize_path
    %p.notice= notice
    %p.alert= alert
    = yield
